.navbar {
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.logoContainer {
  max-width: 200px;
}
.navbarLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50vw;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100vw;
  background-color: hsl(194, 22%, 42%);
  z-index: 10;
  transition: right 0.3s ease;
}
.navbarLinks li a {
  text-decoration: none;
  color: hsl(0, 0%, 15%);
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(194, 27%, 90%);
}
.navbarLinks.open {
  right: 0vw;
}
.toggleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .toggleContainer {
    display: none
  }
  .navbarLinks {
    width: 100%;
    flex-direction: row;
    position: initial;
    background-color: initial;
    margin-right: 20%;
  }
  .navbarLinks li a {
    font-size: 1.1rem;
    color: black;
    margin: 0 10px;
  }
  .navbar {
    font-size: 1.3rem;
    font-weight: 500;
  }
  
}